version: "3.8"

services:
  discord-bot:
    build: .
    container_name: meoxp-discord-bot
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - lavalink
    ports:
      - "4444:80"
    volumes:
      - ./logs:/app/logs
      - /var/run/docker.sock:/var/run/docker.sock

  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4
    container_name: lavalink
    restart: unless-stopped
    environment:
      - SERVER_PORT=2333
      - LAVALINK_SERVER_PASSWORD=youshallnotpass
    volumes:
      - ./lavalink/application.yml:/opt/Lavalink/application.yml
    ports:
      - "2333:2333"
