version: "3.8"

services:
  discord-bot:
    build: .
    container_name: meoxp-discord-bot
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "4444:80"
    volumes:
      - ./logs:/app/logs
      - /var/run/docker.sock:/var/run/docker.sock
